@model WebMusicShop.Models.Entities.Cliente

@{
    ViewData["Title"] = "Cadastrar Cliente";
}
@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["MensagemSucesso"]
        <button class="btn btn-close float-end"></button>
    </div>
}
@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["MensagemErro"]
         <button class="btn btn-close float-end"></button>
    </div>
}

<h1>@ViewData["Title"]</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar Cliente" class="btn btn-primary mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="ListarClientes">Ir para lista de clientes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
