@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Music Shop</h1>
</div>
<div class="text-center"> 
    <img src="https://www.pngmart.com/files/16/Rock-Red-Guitar-Transparent-Background.png" class="w-50" />
</div>